// Fonts
$yeseva: 'YesevaOne', serif;
$lato: 'Lato', sans-serif;
$gentiumBookBasic: 'Gentium Book Basic', serif;
$openSans: 'Open Sans', serif;

// Colors
$golden: #cc9900;
$white: #dde0df;

.golden-heading {
  font-family: $yeseva;
  color: $golden;
  text-align: center;
}

.white-heading {
  font-family: $yeseva;
  color: $white;
  text-align: center;
}

.divider {
  display: flex;
  justify-content: center;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/Open_Sans/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'YesevaOne';
  src: url('../fonts/Yeseva_One/YesevaOne-Regular.ttf');
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato/Lato-Regular.ttf');
}

@font-face {
  font-family: 'Gentium Book Basic';
  src: url('../fonts/Gentium_Book_Basic/GenBkBasR.ttf');
}
